@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital@1&family=Lora:ital,wght@1,500&display=swap');


:root{
   --font-escrita: 'Dancing Script', cursive;
   --font-padrao: 'Lato', sans-serif;
   --font-titulo: 'Lora', serif;

   --cor01: #751205;
   --cor02: #C21C07;
   --cor03: #000000;
   --cor04: #FFFFFF;
   --cor05: #EBE9EE;

   font-size: 62,5%;
}


/* Index.html  */

/* Header da pagina */

header{
    padding: 0;
    background-color: var(--cor01);
}

.box{
    /* position: relative; */
    width: auto;
}

.flexbox-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 10rem;
    margin-left: -1rem;
}

header img:hover{
    cursor: pointer;
}

.title{
    /* position: absolute;
    top: 1.7rem;
    right: 10rem; */
    font-size: 4rem;
    font-family: var(--font-escrita);
    color: var(--cor05);
    text-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.972);
    margin-right: 2rem;
}

.title:hover{
  font-size: 5rem;
  transition: 0.5s;
}

.title:hover::after{
    content: " 🇮🇹";
}

nav{
    /* position: absolute;
    top: 3rem;
    right: 53rem; */
}


nav li{
    display: inline-block;
    margin-right: 3rem;
}

nav a{
    color: var(--cor05);
    font-size: 2rem;
    font-family: var(--font-titulo);
    text-decoration: none;
    text-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.411);
}

nav a:hover{
    color: var(--cor03);
    font-size: 2.5rem;
    transition: 0.3s;
    background-color: var(--cor02);
    border-radius: 0.5rem;
    cursor: pointer;
}

/* Main da pagina */
main{
    height: auto;
    width: auto;
    margin: auto;
    position: relative;
}

 main::before{
    content: "";
    background-image: url(images/comida-italiana.jpg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    z-index: -1;
    opacity: 0.7;
} 

section{
    width: 70%;
    margin: auto;
    padding-bottom: 3rem;
    background-color: var(--cor04);
}

article{
    padding: 1rem 2rem;
}

.subtitle{
    font-family: var(--font-escrita);
    color: var(--cor01);
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
}

.imagem-texto{
    width: 70%;
    display: block;
    margin: 1rem auto;
}

article p{
    font-family: var(--font-padrao);
    font-size: 2rem;
    padding: 1rem;
    text-align: justify;
}

article strong{
    font-family: var(--font-titulo);
    color: var(--cor01);
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
}

article strong:hover{
    color: var(--cor02);
    cursor: pointer;
    font-size: 2.5rem;
}

.sobre{
    max-width: 70%;
    margin: auto;
}

.pratos{
    text-align: center;
    margin: 1.5rem;
}

.pratos li{
    display: inline-block;
    margin:  1rem;
}

.pratos img{
    width: 13rem;
    border-radius: 10rem;
}

.pratos img:hover{
    border: 0.3rem solid var(--cor02);
    transform: scale(1.3);
    cursor: pointer;
}

.pratos p{
    text-align: center;
    font-family: var(--font-titulo);
    color: var(--cor02);
    margin-top: 1rem;
}

/* .pratos p:hover{
    
} */

button{
    background-color: var(--cor01);
    color: var(--cor05);
    font-size: 1.5rem;
    font-family: var(--font-titulo);
    height: 5rem;
    width: 19rem;
    border: 0.3rem solid black;
    border-radius: 1.5rem;
    margin: 2rem auto;
    padding: 1rem;
}

button:hover{
    background-color: var(--cor02);
    color: var(--cor04);
    border-color: var(--cor01);
    transform: scale(1.4);
    cursor: pointer;
}

button a{
    text-decoration: none;
    color: var(--cor04);
}

table{
    margin: 0.2rem auto 0.4rem;
}

thead{
    background-color: var(--cor01);
    color: var(--cor05);
    font-weight: bolder;
}

th, td{
    border: 0.3rem solid var(--cor03);
    background-color: var(--cor01);
    color: var(--cor04);
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

th{
    font-size: 3rem;
}

.folga td{
    background-color: var(--cor02);
    color: var(--cor03);
}

/* Footer da pagina */

footer{
    background-color: var(--cor01);
    padding-top: 1rem;
    text-align: center;
}

footer img{
    width: 10rem;
}

footer img:hover{
    cursor: pointer;
}

.copyright{
    color: var(--cor05);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.431);
}

.dev{
    background-color: var(--cor02);
    color: var(--cor05);
    font-size: 1.2rem;
}

.dev a{
    color: var(--cor05);
    text-decoration: none;
}

.dev a:hover{
    color: var(--cor03);
    font-weight: bold;
}


/* cardapio.html */

section{
    padding: 2rem;
}

.menu{
    width: 55%;
    margin: 3rem auto;
    border: 0.6em solid var(--cor03);
    padding: 1rem;
}

.menu-title{
    font-family: var(--font-escrita);
    font-size: 3rem;
    color: var(--cor01);
    text-align: center;
    padding: 1rem;
}

.menu li{
    font-family: var(--font-escrita);
    font-size: 2rem;
    padding: 1rem;
}

.menu p{
    font-family: var(--font-titulo);
    font-size: 1.5rem;
    padding: 1rem;
}

.menu img{
    float: right;
}


/* localizacao.html */

.local{
    display: inline-block;
    text-align: center;
    border: 0.5rem solid var(--cor01);
    margin: 1rem auto;
}

.restaurante{
    font-family: var(--font-titulo);
    font-size: 2rem;
    color: var(--cor02);
    text-align: start;
    padding: 1rem 8rem 0 8rem;
}

.local img{
 width: 80%;

}

.local p{
    font-family: var(--font-titulo);
}

.endereco{
    text-align: center;
}

.info-local{
    width: 80%;
    
    margin: auto;
    color: var(--cor02);
}


/* reserva.html */

.reserva{
    display: block;
    text-align: center;
}

.reserva img{
    width: 100%; 
}

.msg{
    font-family: var(--font-titulo);
    font-size: 2.5rem;
    text-align: center;
}
.dados{
    text-align: start;
    font-family: var(--font-titulo);
}

/* Formulário da página */

form{
    margin: 1rem auto;
    font-family: var(--font-titulo);
    width: 70%;
}

label, legend{
    font-size: 2rem;
    margin-bottom: 1rem;
    display: block;
}

.dados-pessoais{
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    width: 80%;
    border-radius: 1.5rem;
}

.mesa{
    margin-bottom: 1.5rem;
}

.mesa label{
    display: inline;
}

#data{
    margin-right: 1rem;
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
}

#quantPessoas{
    width: 3rem;
    height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

select{
    width: 7rem;
    height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem auto;
    display: block;
}

.radio{
    border: 0;
    width: 1rem;
    height: 1rem; 
}

#publicidade{
    border: 0;
    width: 1rem;
    height: 1rem;
}


.botao{
    background-color: var(--cor01);
    color: var(--cor05);
    font-size: 1.5rem;
    font-family: var(--font-titulo);
    height: 5rem;
    width: 19rem;
    border: 0.3rem solid black;
    border-radius: 1.5rem;
    margin: 2rem auto;
    padding: 1rem;
    display: block;
}

.botao:hover{
    background-color: var(--cor02);
    color: var(--cor04);
    border-color: var(--cor01);
    transform: scale(1.4);
    cursor: pointer;
}

/* media queries */

@media screen and (max-width: 420px) {
    .flexbox-div ul{
        display: flex;
        flex-direction: column;
        justify-content:space-around ;
        align-items: center;
    }

    .flexbox-div .title{
        font-size: 2rem;
        margin: 1rem;
    }

    .flexbox-div .title:hover{
        font-size: 3rem;
    }

    section{
        width: 100%;
    }

    .subtitle{
        font-size: 3rem;
    }

}

@media screen and (max-width: 1050px) {
    .pratos{
        display: flex;
        flex-direction: column;
    }
    .restaurante{
        font-size: 1.8rem;
    }
    

}

@media screen and (max-width: 1300px) {
    .flexbox-div{
        flex-direction: column;
    }

    .flexbox-div .home{
        order: -2;
    }

    .flexbox-div .title{
        order: -1;
    }

    nav li{
        padding-right: 2rem;
        
    }

    .pratos img{
        width: 11rem;
    }

    .mesa label{
        display: block;
    }
    
}


@media screen and (max-width: 1440px) {
 
    nav li{
        margin: 1rem 2rem 2rem 0rem;
        
    }

    .flexbox-ul{
        display: flex;
        justify-content: center;
    }

    .menu{
        width: 80%;
    }
}


@media screen and (max-width: 1680px) {
    .title{
        font-size: 4rem;
    }

    .title:hover{
        font-size: 5rem;
    }

    nav li{
        margin-right: 1rem;
    }
}

