@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital@1&family=Lora:ital,wght@1,500&display=swap');


:root{
   --font-escrita: 'Dancing Script', cursive;
   --font-padrao: 'Lato', sans-serif;
   --font-titulo: 'Lora', serif;

   --cor01: #751205;
   --cor02: #C21C07;
   --cor03: #000000;
   --cor04: #FFFFFF;
   --cor05: #EBE9EE;

   font-size: 62,5%;
}


/* Header da pagina */

header{
    padding: 0;
    background-color: var(--cor01);
}

.box{
    position: relative;
    width: auto;
}

header img{
    width: 10rem;
}

header img:hover{
    cursor: pointer;
}

.title{
    position: absolute;
    top: 1.7rem;
    right: 10rem;
    font-size: 4rem;
    font-family: var(--font-escrita);
    color: var(--cor05);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.972);
}

.title:hover{
  font-size: 5rem;
  transition: 0.5s;
}

.title:hover::after{
    content: " 🇮🇹";
}

nav{
    position: absolute;
    top: 3rem;
    right: 53rem;
}


nav li{
    display: inline-block;
    margin-right: 3rem;
}

nav a{
    color: var(--cor05);
    font-size: 2rem;
    font-family: var(--font-titulo);
    text-decoration: none;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.411);
}

nav a:hover{
    color: var(--cor03);
    font-size: 2.5rem;
    transition: 0.3s;
    background-color: var(--cor02);
    border-radius: 0.5rem;
    cursor: pointer;
}

/* Main da pagina */
main{
    height: auto;
    width: auto;
    margin: auto;
    background-image: url(images/comida-italiana.jpg);
    background-size: cover;
    opacity: ;
}

section{
    width: 70%;
    margin: auto;
    padding-bottom: 3rem;
    background-color: var(--cor04);
}

article{
    padding: 1rem 2rem;
}

.subtitle{
    font-family: var(--font-escrita);
    color: var(--cor01);
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
}

.imagem-texto{
    width: 70%;
    display: block;
    margin: 1rem auto;
}

article p{
    font-family: var(--font-padrao);
    font-size: 2rem;
    padding: 1rem;
    text-align: justify;
}

article strong{
    font-family: var(--font-titulo);
    color: var(--cor01);
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
}

article strong:hover{
    color: var(--cor02);
    cursor: pointer;
}

.sobre{
    max-width: 70%;
    margin: auto;
}

.pratos{
    text-align: center;
    margin: 1.5rem;
}

.pratos li{
    display: inline-block;
    margin:  1rem;
}

.pratos img{
    width: 200px;
    border-radius: 10rem;
}

.pratos img:hover{
    border: 0.3rem solid var(--cor02);
    transform: scale(1.2);
    display: block;
}

.pratos p{
    text-align: center;
    font-family: var(--font-titulo);
    color: var(--cor02);
    display: none;
}

.pratos p:hover{
    
}

button{
    background-color: var(--cor01);
    color: var(--cor05);
    font-size: 1.5rem;
    font-family: var(--font-titulo);
    height: 80px;
    width: 300px;
    border: 0.3rem solid black;
    border-radius: 1.5rem;
    display: block;
    margin: 2rem auto;
    padding: 1rem;
}

button:hover{
    background-color: var(--cor02);
    transform: scale(1.4);
    color: var(--cor04);
    border-color: var(--cor01);
    cursor: pointer;
}

table{
    margin: 0.2rem auto 0.4rem;
}

thead{
    background-color: var(--cor01);
    color: var(--cor05);
    font-weight: bolder;
}

th, td{
    border: 0.3rem solid var(--cor03);
    background-color: var(--cor01);
    color: var(--cor04);
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

th{
    font-size: 3rem;
}

.folga td{
    background-color: var(--cor02);
    color: var(--cor03);
}

/* Footer da pagina */

footer{
    background-color: var(--cor01);
    padding-top: 10px;
    text-align: center;
}

footer img{
    width: 10rem;
}

footer img:hover{
    cursor: pointer;
}

.copyright{
    color: var(--cor05);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.431);
}

.dev{
    background-color: var(--cor02);
    color: var(--cor05);
    font-size: 1.2rem;
}

.dev a{
    color: var(--cor05);
    text-decoration: none;
}

.dev a:hover{
    color: var(--cor03);
    font-weight: bold;
}